
<mat-card>

    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <mat-card-title>login</mat-card-title>
        <mat-form-field>
            <input formControlName="email" matInput placeholder="Email" type="email">
        </mat-form-field>

        <mat-form-field>
            <input formControlName="password" matInput placeholder="Password" type="password">
        </mat-form-field>
        <a style="padding:1em" routerLink="/Sign Up">New User?</a>
        <button mat-fab type="submit">Submit</button>
    </form>
</mat-card>
