<div id="wrapper">

  <!-- ******** GRID CREATE ******** -->
  <br />
  <form [formGroup]="sizePicker" (ngSubmit)="onSubmit($event)">
    Grid Height:
    <input type="number" matInput placeholder="1 - 20" formControlName="height" max="20" min="1" value="1">
    Grid Width:
    <input type="number" matInput placeholder="1 - 20" formControlName="width" max="20" min="1" value="1">
    <button type="submit" mat-raised-button>Submit</button>
  </form>


  <!-- ******** COLOR PICKER ******** -->
  <p>Color Picker</p>
  <input [(ngModel)]="selectedColor" type="color" id="colorPicker">
  <br />
  <br />


  <!-- ******** CANVAS GRID ******** -->
  <table id="pixel_canvas">
    <ng-container *ngFor="let row of canvas; let i = index">
      <tr>
        <ng-container *ngFor="let column of row; let j = index">
          <td (click)="onClick($event)" [ngClass]="['cell']" id={{i}},{{j}} [ngStyle]="bgColor(i, j)"></td>
        </ng-container>
      </tr>
    </ng-container>
  </table>
  <br />
  <br />


  <!-- ******** INSPIRE BUTTON ******** -->
  <button (click)="inspire($event)" id="inspire">Inspire me!</button>
  <h3>{{inspiration}}</h3>
  <br />
  <br />


  <!-- ******** ART SUBMIT ******** -->
  <form [formGroup]="artSubmit" (ngSubmit)="onPost($event)">
    <input type="text" matInput formControlName="title" placeholder="Title">

    <!-- <input type="text" matInput formControlName="tags" placeholder="Tags"> -->

    <button type="submit" mat-raised-button>Post</button>
  </form>



</div>
<script src="art-create.component.ts"></script>