<div id="wrapper">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <h1>Create Account</h1>
    <label>
      <input formControlName="username" matInput placeholder="Username"><br />
    </label>
    <label>
      <input formControlName="email" placeholder="Email" type="email"><br />
    </label>
    <label>
      <input formControlName="password" matInput placeholder="Password" type="password"><br />
    </label>
    <label>
      <textarea formControlName="bio" matInput placeholder="Bio (optional)"></textarea><br />
    </label>
    <button mat-raised-button type="submit">Submit</button><br />
    <p>Already have and account?</p>
    <a style="padding:1em" routerLink="/Sign In">Login!</a><br />
  </form>
</div>