<mat-card>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <label>
        <input formControlName="username" matInput placeholder="Username">
    </label>
    <label>
        <input formControlName="email"  placeholder="Email" type="email">
    </label>
    <label>
            <input formControlName="password" matInput placeholder="Password" type="password">
          </label>
    <label>
        <textarea formControlName="bio" matInput placeholder="Bio (optional)"></textarea>
    </label>
    <a style="padding:1em" routerLink="/Sign In">Cancel</a>
    <button mat-fab type="submit">Submit</button>
</form>
</mat-card>
