<div id="wrapper">
  <button (click)="deleteUser()" class="btn" mat-raised-button>Delete User</button>
  <button (click)="logout()" class="btn" mat-raised-button>Logout</button><br /> <br />
  <h1>{{username}}'s Profile</h1>
  <h4>{{bio}}</h4>
  <button (click)="openDialog()" id="edit-btn" mat-raised-button class="btn-primary">Edit Bio</button>

  <ng-container *ngFor="let users of userList; let x = index">
    <app-user-card [users]="users"></app-user-card>
  </ng-container>

  <ng-container *ngFor="let art of artList; let x = index">
    <app-feed-card-personal [art]="art"></app-feed-card-personal>
  </ng-container>